examples/classifier_data*/*
examples/classifier_ckpt*/*
examples/classifier_ckpt_bottle_twist*/*
examples/classifier_data copy/*
examples/saved_clips*/*
examples/demo_data/*
examples/demo_data copy/*
examples/test_data/*
examples/experiments/tennis_ball_pick/202*
examples/experiments/twist_bottle_cap/202*
examples/experiments/tube_insertion/202*
examples/experiments/twist_bottle_cap/videos/*
examples/tennis_ball_pick_classifier/*
examples/tube_insertion_classifier/*
examples/twist_bottle_cap_classifier/*
examples/experiments/tube_insertion/videos/*
examples/experiments/tennis_ball_pick/__pycache__/*
examples/experiments/twist_bottle_cap/__pycache__/*
examples/experiments/tube_insertion/__pycache__/*
serl_robot_infra/franka_env/envs/__pycache__/*
